<?xml version="1.0"?>

<launch>

<rosparam file="$(find sequential_map_merging)/config/sequential_map_matcher_offline_map10.yaml" />
<node pkg="sequential_map_merging" type="map_matcher_monte_carlo_sim.py" name="map_matcher0" output="screen"/>
<node pkg="sequential_map_merging" type="map_matcher_monte_carlo_sim.py" name="map_matcher1" output="screen"/>
<node pkg="sequential_map_merging" type="map_matcher_monte_carlo_sim.py" name="map_matcher2" output="screen"/>
<node pkg="sequential_map_merging" type="map_matcher_monte_carlo_sim.py" name="map_matcher3" output="screen"/>
<node pkg="sequential_map_merging" type="map_matcher_monte_carlo_sim.py" name="map_matcher4" output="screen"/>
<node pkg="sequential_map_merging" type="map_matcher_monte_carlo_sim.py" name="map_matcher5" output="screen"/>
<node pkg="sequential_map_merging" type="map_matcher_monte_carlo_sim.py" name="map_matcher6" output="screen"/>
<node pkg="sequential_map_merging" type="map_matcher_monte_carlo_sim.py" name="map_matcher7" output="screen"/>



</launch>
