<?xml version="1.0"?>
<launch>

  <arg name="rviz_file1" default="$(find sequential_map_merging)/rviz/ABot_mcl.rviz" />
  <arg name="rviz_file2" default="$(find sequential_map_merging)/rviz/KoBot2_mcl.rviz" />

  <node pkg="rviz" type="rviz" name="rviz_ABot" args="-d $(arg rviz_file1)" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz_KoBot" args="-d $(arg rviz_file2)" output="screen"/>

  

</launch>
